# Dependencies
node_modules

# Build outputs
dist
*.tsbuildinfo

# Turborepo
.turbo

# Environment variables
.env.local
.env

# Test coverage
coverage

# Astro
.astro

# Vite
*.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
